  /* MODAL */
  .Modal {
  position: absolute;
  z-index: 500;
  background-color: white;
  width: 30%;
  height: 26vmax;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 3vmax;
  left: 35%;
  top: 24%;
  box-sizing: border-box;
}

/*-----------------INSIDE OF MODAL---------------------*/

/*CONTAINER*/

.container {
  display: flex;
  flex-direction:column;
}

/* TEXT */

.modalText {
  font-size: 2.5vmax;
  text-align: center;
  width: 100%;
  margin: 1vmax 0;
}

/* INPUT */

.modalInput {
  margin-bottom: 1vmax;
  max-width: 400px;
  font-size: 1.8vmax;
}


/* BUTTONS */

.buttonBlock {
  display: flex;
  justify-content: space-around
}


@media (max-width: 500px){
  .Modal {
    z-index: 500;
    background-color: white;
    border: none;
    box-shadow: none;
    top: 30%;
    left:auto;
    margin: 0 auto;
    width: 80%;
    vertical-align: middle;
  }
  .buttonBlock {
    flex-direction: row;
  }
}
