/* addButton */

.addButton {
  margin: 15px 2px;
  background-color: white;
  color: #14c91a;
  border: 1.5px solid #14c91a;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.addButton:active {
  color: #ffffff;
  border: 1.5px solid #0c790f;
  background-color: rgb(174, 202, 175);
}

.addButton:hover {
    transform: scale(1.2);
  }

.addButton:disabled,
  button[disabled]{
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    border: 1.5px solid #000000;
  }

/* closeButton */

.closeButton {
  color: #000000;
  padding: 15px 18px;
  border: 1.5px solid #000000;
  background-color: white;
  margin: 15px 2px;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 10px;
}

.closeButton:active {
  color: #ffffff;
  border: 1.5px solid rgb(128, 128, 128);
  background-color: rgb(196, 196, 196);
}

.closeButton:hover {
    transform: scale(1.2);
}

/* deleteButton */

.deleteButton {
  color: rgb(255, 0, 0);
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-size: 1.5em;
  margin: 0.2em 0.2em;
}

.deleteButton:hover {
  transform: scale(1.2);
  border: none;
}

.deleteButton:active {
  color: rgb(122, 0, 0);
  border: none;
}

/* newButton */

.newButton {
  margin: 1em 1em;
  background-color: white;
  color: #14c91a;
  border: 1.5px solid #14c91a;
  padding: 0.7em 1.6em;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

.newButton:active {
  color: #ffffff;
  border: 1.5px solid #0c790f;
  background-color: rgb(174, 202, 175);
}

.newButton:hover {
    transform: scale(1.2);
}

@media (max-width: 500px){
  .addButton, .addButton:hover {
    width: 50%;
    margin: 2vmax 0;
    transform: scale(1);
    font-size: 5vmax;
    width: 100%;
    border-radius: 20px;
  }
  .closeButton, .closeButton:hover {
    width: 50%;
    margin: 2vmax 0;
    transform: scale(1);
    font-size: 5vmax;
    width: 100%;
    border-radius: 20px;
  }
  .deleteButton {
    display: none
  }
  .newButton, .newButton:hover {
    width: 63%;
    margin: 1em 0;
    transform: scale(1);
    font-size: 0.6em;
  }
}