/* POST */

.post {
  max-width: 70vmax;
  margin: 0 auto 3vmax;
  box-sizing: border-box;
  padding: 0;
}

/* POST HEADER */

.postHeader{
  display: flex;
  justify-content: space-between;
  padding: 2vmax;
  border: 1.2px solid black;
}

.postName {
  font-size: 2.2vmax;
}

/* POST IMG */

.postImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* POST BUTTON*/

.postButton {
  color: rgb(255, 0, 0);
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-size: 2vmax;
}

.postButton:hover {
  transform: scale(1.2);
}

.postButton:active {
  color: rgb(122, 0, 0);
}
